<div class="container">
    <div class="row">
        <div class="col-3">
            <h5>{{set.exerciseName}}</h5>
        </div>
        <div class="col-3" >
            <h5>{{exercise.muscleGroup}}</h5>
        </div>
        <div class="col-3">
            <h5>{{set.weight}}</h5>
        </div>
        <div class="col-1">
            <h5>{{set.reps}}</h5>
        </div>
        <div class="col-1" id="Edit-button">
            <a class="btn btn-warning" (click)="EditSet()">
                {{enableSetEdit? 'Discard':'Edit'}}
             </a>
        </div>
        <div class="col-1" id="Delete-button">
            <button class="btn btn-danger" (click)="DeleteSet()">
                Del
            </button>
        </div>

    </div>
    <div class="row" *ngIf="enableSetEdit">
        <div class="col-3">
            <input type="text" class="form-control" [(ngModel)]="set.exerciseName">
        </div>
        <div class="col-3" >
            <input type="text" class="form-control" [(ngModel)]="set.exerciseId">
        </div>
        <div class="col-2">
            <input type="number" class="form-control" [(ngModel)]="set.weight">
        </div>
        <div class="col-2">
            <input type="number" class="form-control" [(ngModel)]="set.reps">
        </div>
        <div class="col-1" id="button">
            <a class="btn btn-success" (click)="SaveChanges()">
                Save
             </a>
        </div>
    </div>
</div>


  