<div class="container">
    <div class="mt-2 mb-3"></div>
    <button type="button" class="btn btn-primary" routerLink="/exerciseForm">
        Add Other Exercise
    </button>
    <div class="mt-2 mb-3"></div>
    <div class="card">
        <div class="card-body">
            <label>Weight:</label>
            <input type="number" class="form-control" [(ngModel)]="set.weight" />
            <label>Reps:</label>
            <input type="number" class="form-control" [(ngModel)]="set.reps" />
        </div>

    </div>
    <div class="mt-2 mb-3"></div>
    <button type="button" class="btn btn-success" (click)="AddSet()">
        Add Set
    </button>
    <div class="mt-2 mb-3"></div>
    <button type="button" class="btn btn-danger" routerLink="/trackerForm" (click)="FinishWorkout()">
        Finish Workout
    </button>
    <div class="mt-2 mb-3"></div>
    <div class="card">
        <div class="card-header">
            <app-output-header></app-output-header>
        </div>
        <div class="card-body">
            <app-output-body *ngFor="let set of sets" [set]="set" (deleteSetEvent)="DeletSetEventHandler($event)"></app-output-body>
        </div>
    </div>

</div>