<div class="container">
    <h1>Welcome to RWorkoutTracker!</h1>
    <div class="card">
        <div class="container">
            <h3>Why workout tracking is important?</h3>
            <hr>
            <h6> For those who regularly log and track their progress, 
                you may not need to be convinced why you should be tracking it. 
                But keep reading—this is still for you! And for those who don’t 
                normally track progress, take a quick look at why it might be 
                important to start.
            </h6>
            <ul>
                <li>
                    Makes it more likely to reach and surpass your goal.
                </li>
                <li>
                    Allows you to be more efficient in your time and workouts.
                </li>
                <li>
                    Lends accountability to yourself and your goals.
                </li>
                <li>
                    Allows for easier modifications and shows when and where changes need to be made.
                </li>
                <li>
                    It can be motivating and reinforcing to remind you why you are doing what you are.
                </li>
                <li>
                    Helps to drive the focus and direction of your programming.
                </li>
                <li>
                    Keeps you committed to your plan.
                </li>
            </ul>
            <h3>How to track your workout using this app?</h3>
            <hr>
            <ol>
                <li>
                    Go to the tracker Section, then enter the Title or name of the workout and the date that 
                    you will perform.
                </li>
                <li>
                    Click start workout to add an exercise to your current workout.
                </li>
                <li>
                    Enter the exercise name and the muscle group that you wish to target with that exercise
                    Click add exercise to add sets to that workout.
                </li>
                <li>
                    Enter the weights and reps of the current set that you want to add to that exercise.
                </li>
                <li>
                    Press Add another exercise to repeat steps 3 to 4.
                </li>
                <li>
                    If you are finish with your workout,click finish workout, this will redirect you to the first page. 
                </li>
                
            </ol>
        </div>
    </div>
</div>
